[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==3.2.9"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
python-decouple = "==3.5"
psycopg2-binary = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
