body {
    margin:0;
    padding:0;
    color: #3a333b;  /* added this */
    font-family:helvetica, sans-serif; 
}

#mini-navbar {
    display: flex;
    justify-content: space-between;
}

a, #yummy { 
    color:#7c4892;  /* changed this */
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #550077;  /* changed this */
    padding:0 0 10px 0;
    color: #b07bc5;   /* added this */
}

h2, #similar {
    font-weight:normal;
    margin:30px 0 0;
    color: rgb(90, 137, 184);
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

#date { 
    color:rgb(187, 158, 194);
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

.tags #tags, h3 {
    color:rgb(76, 133, 151);
    font-family: monospace, serif;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}

input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}

input[type=submit] {
    font-weight:bold;
    background:#00abff;  /* initial <a/> color here */
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}

.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}

.comment:nth-child(even) {
    background:#efefef;
}

.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}